@import "bootstrap-grid/bootstrap-grid";
@import "settings";


// GOOGLE ADVERTS 

.google-advert-300x250 {
  border: solid 1px #2e2e2e;
  width: 300px;
  height: 250px;
  background-color: #ddd;
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  body {
    background-color: red;
  }

  
  .hide-at-991px {
    display: none;
  }
}

body {
  font-family: 'Abel', sans-serif;
  font-size: 2em;
}

#map {
  height: 400px;
  width: 100%;
  margin: 2em 0;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 1em;
}

h3 {
  font-size: .8em;
  font-style: italic;
}

.background {
  background: $bg-gradient--second;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $bg-gradient--first, $bg-gradient--second);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $bg-gradient--first, $bg-gradient--second); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.padding {
  padding: 2% 0;
}

.margin {
  margin: 2% 0;

  &-auto {
    margin: 2% auto;
  }
}

.color-white {
  color: #fff;
}

.white-border {
  border: #fff solid 1px;
  padding: 1%;
}

.white-border--narrow {
  width: 50%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.description {
  margin-bottom: .5em;
  h3 {
    margin: 0;
  }

  p {
    line-height: 1.5em;
  }
}

.list-item a {
  color: #fff;
  font-size: .8em;
}

.list-item a:hover {
  opacity: 0.8;
}

/* Footer */
ul.social {
  display: block;
  list-style-type: none;
  margin: 5% 0;
  text-align: center;
}

ul.social li {
  font-size: 1em;
  display: inline;
  padding: 0 4%;
}

ul.social li a {
  color: #666;
}

ul.social li.facebook a:hover{
  color: rgb(59, 89, 152);
}

ul.social li.twitter a:hover{
  color: rgb(0, 172, 237);
}

ul.social li.linkedin a:hover{
  color: rgb(0, 123, 182);
}

ul.social li.gitlab a:hover{
  color: rgb(226, 67, 41);
}

p.copyright {
  color: #ddd;
  font-size: .5em;
  margin: 0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }

  .white-border--narrow {
    width: 80%;
  }
}